<!doctype html>
<html lang="en">

<head>
    <meta name="description" content="UPDATEmeta-description" />
    <title>UPDATEtitle</title>
    <!-- BUILD_INSERT id="head" -->
</head>

<body>
    <!-- HEADER SECTION: Navigation and Title -->
    <div class="wrapper">
        <!-- BUILD_INSERT id="nav" -->
        <!-- Header -->
        <header role="banner">
            <h1>UPDATEh1</h1>
            <!-- Tag Categories: TagCategory1 = My Role | TagCategory2 = Industry & Platform | TagCategory3 = Approach & Deliverables -->
            <div class="header--descriptions">
                <p><strong>TagCategory1:</strong> UPDATE, UPDATE, UPDATE</p>
                <div class="card--company-logo">
                    <img src="/assets/images/portfolio/company-logo--mikmak.svg" alt="MikMak Company Logo" />
                </div>
            </div>
        </header>
    </div>
    <!-- OVERVIEW SECTION: Project Summary -->
    <div class="wrapper--wide staggered-animation">
        <section class="piece--summary">
            <picture>
                <img class="featured--image.png" id="featured--image_cover"
                    src="/assets/images/portfolio/mikmak/custom-report-builder/featured--cover.png"
                    alt="featured-image-alt" width="1880" height="1000" loading="eager" fetchpriority="high"
                    decoding="async" data-responsive="true" />
            </picture>
            <div class="summary">
                <h2>UPDATEsummary-heading</h2>
                <p>UPDATEsummary</p>
            </div>
        </section>
    </div>
    <!-- MAIN CONTENT -->
    <main role="main" id="main-content">
        <div class="wrapper">
            <div class="content-wrapper">
                <!-- SECTION: CHALLENGES -->
                <section class="challenges">
                    <h2>UPDATEchallenges-heading</h2>
                    <p>UPDATEchallenges</p>
                </section>
                <!-- SECTION: SOLUTION -->
                <section class="solution">
                    <h2>UPDATEsolution-heading</h2>
                    <p>UPDATEsolution</p>
                </section>
                <!-- CASE STUDY CONTENT CARD (Image) -->
                <section class="content">
                    <picture>
                        <img src="/assets/images/portfolio/mikmak/custom-report-builder/placeholder-image.png" alt=""
                            width="1200" height="648" loading="lazy" data-responsive="true" />
                    </picture>
                    <p class="content-caption">
                        <b>UPDATEcontent-card-title</b>
                        <span class="spacer"></span> UPDATEcontent-card-description
                    </p>
                </section>
                <!-- CASE STUDY CONTENT CARD (VIDEO) -->
                <section class="content">
                    <div class="video-wrapper">
                        <div class="overlay"></div>
                        <video class="standard-video" playsinline muted loop preload="none" width="100%" height="auto">
                            <source src="/assets/videos/portfolio/mikmak/custom-report-builder/placeholder-video.mp4"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <p class="content-caption">
                        <b>UPDATEcontent-card-title</b>
                        <span class="spacer"></span> UPDATEcontent-card-description
                    </p>
                </section>
                <!-- CASE STUDY CONTENT Card (CAROUSEL) -->
                <section class="content">
                    <div class="carousel-source" aria-label="UPDATEcarousel-aria-label">
                        <div class="carousel-slide-source">
                            <div class="video-wrapper">
                                <div class="overlay"></div>
                                <video class="standard-video" playsinline muted loop preload="none" width="100%"
                                    height="auto">
                                    <source src="/assets/videos/portfolio/custom-report-builder/placeholder-video.mp4"
                                        type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <p class="carousel-caption-source"><b>UPDATEcarousel-item-title:</b>
                                UPDATEcarousel-item-description
                            </p>
                        </div>
                        <div class="carousel-slide-source">
                            <img src="/assets/images/portfolio/mikmak/custom-report-builder/placeholder-image.png"
                                alt="UPDATEcarousel-item-alt-text" data-responsive="true" />
                            <p class="carousel-caption-source"><b>UPDATEcarousel-item-title:</b>
                                UPDATEcarousel-item-description
                            </p>
                        </div>
                        <div class="carousel-slide-source">
                            <img src="/assets/images/portfolio/mikmak/custom-report-builder/placeholder-image.png"
                                alt="UPDATEcarousel-item-alt-text" data-responsive="true" />
                            <p class="carousel-caption-source"><b>UPDATEcarousel-item-title:</b>
                                UPDATEcarousel-item-description
                            </p>
                        </div>
                        <div class="carousel-slide-source">
                            <img src="/assets/images/portfolio/mikmak/custom-report-builder/placeholder-image.png"
                                alt="UPDATEcarousel-item-alt-text" data-responsive="true" />
                            <p class="carousel-caption-source"><b>UPDATEcarousel-item-title:</b>
                                UPDATEcarousel-item-description
                            </p>
                        </div>
                        <div class="carousel-slide-source">
                            <img src="/assets/images/portfolio/mikmak/custom-report-builder/placeholder-image.png"
                                alt="UPDATEcarousel-item-alt-text" data-responsive="true" />
                            <p class="carousel-caption-source"><b>UPDATEcarousel-item-title:</b>
                                UPDATEcarousel-item-description
                            </p>
                        </div>
                    </div>
                </section>
                <!-- SECTION: RESULTS -->
                <section class="results">
                    <h2>UPDATEresults-heading</h2>
                    <p>UPDATEresults-description</p>
                    <ul>
                        <li>
                            <strong>UPDATEkey-result-1-title:</strong> UPDATEkey-result-1-description
                        </li>
                        <li>
                            <strong>UPDATEkey-result-2-title:</strong> UPDATEkey-result-2-description
                        </li>
                        <li>
                            <strong>UPDATEkey-result-3-title:</strong> UPDATEkey-result-3-description
                        </li>
                    </ul>
                    <br />
                    <h2>UPDATElearnings-heading</h2>
                    <p>UPDATElearnings-description</p>
                </section>
            </div>
            <div class="next-project-container">
                <!-- Next project card will be automatically inserted here -->
            </div>
        </div>
    </main>
    <!-- BUILD_INSERT id="footer" -->
</body>

</html>